
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Shorten URL</h2>

<div>
    <p> Insert the complete URL that you want to convert in short URL</p>
    <br />
    <form>
        <div class="form-group">
            <label for="txtCompleteURL" style="font-size:20px">URL</label>
            <input type="text" class="form-control" id="txtCompleteURL" name="txtCompleteURL" placeholder="Paste the URL complete to convert it" required>
            <button type="button" id="btnGenerate" class="btn btn-success" onclick="generateURL()">Generate</button>
            <button type="button" id="btnClean" class="btn btn-primary" onclick="cleanFields()">Clean</button>
        </div>
        <div class="form-group">
            <label for="txtResult" style="font-size:20px">Short URL</label>
            <input type="text" class="form-control" id="txtResult" readonly="readonly" placeholder="Result of URL">
        </div>
    </form>
</div>

@*<div class="accordion" id="accordionHistory">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseHistory" aria-expanded="true" aria-controls="collapseHistory">
                        <h4> <b>Press to show - History URL </b></h4>
                    </button>
                </h5>
            </div>

            <div id="collapseHistory" class="collapse" aria-labelledby="headingOne" data-parent="#accordionHistory">

                <jqx-grid theme="@ViewData["Theme"]" sortable="true" filterable="true" auto-height="true" width="850" source="Model">
                <jqx-grid-columns>
                    <jqx-grid-column column-group="name" datafield="idURL" width="100" text="Register"></jqx-grid-column>
                    <jqx-grid-column column-group="name" datafield="originalURL" width="450" text="Originial URL"></jqx-grid-column>
                    <jqx-grid-column column-group="name" datafield="shortURL" width="450" text="Short URL"></jqx-grid-column>
                </jqx-grid-columns>
                <jqx-grid-column-groups>
                    <jqx-grid-column-group name="name" text="Name"></jqx-grid-column-group>
                </jqx-grid-column-groups>
            </jqx-grid>

            <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
                <div id="jqxgrid"></div>
            </div>

            </div>
        </div>
    </div>*@

<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
    <div id="jqxgrid"></div>
</div>


@Scripts.Render("~/Scripts/JavaScript/ShortUrl.js")
